# IF statements

A simple example

In [2]:
cars = ['audi' , 'bmw' , 'subaru' , 'toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

Conditional Tests: Checking for equality

In [3]:
car = "bmw"
car == "bmw"

True

In [4]:
car = "audi"
car == "bmw"

False

Ignoring case when checking for equality

In [5]:
car = 'Audi'
car == 'audi'

False

In [6]:
car = 'Audi'
car.lower() == 'audi'

True

In [7]:
car

'Audi'

Checking for Inequality

In [9]:
reqTopping = 'mushrooms'

if reqTopping != 'anchovies':
    print('Hold the Anchovies!')

Hold the Anchovies!

Numerical Comparisons

In [1]:
age = 18
age == 18

True

In [2]:
answer = 17

if answer != 42:
    print("It's not a correct answer, Please try again.")

It's not a correct answer, Please try again.

In [3]:
age = 19
age < 21

True

In [4]:
age <= 21

True

In [5]:
age > 21

False

In [6]:
age >=21

False

Checking multiple conditions: Using "and" to Check Multiple conditions

In [7]:
age0 = 22
age1 = 18

age0 >= 21 and age1 >= 21

False

In [8]:
age1 = 22

age0 >= 21 and age1 >= 21

True

Using "or" to check Multiple conditions

In [9]:
age0 = 22
age1 = 18

age0 >= 18 or age1 >=21

True

In [11]:
age0 = 18
age1 = 18

age0 >= 21 or age1 >=21

False